<div class="container">
    <h1>Create Book</h1>
    <form>
      <div class="mb-3">
        <label for="bookName" class="form-label">Book Name</label>
        <input type="text" class="form-control" id="bookName" placeholder="Enter book name">
      </div>
      <div class="mb-3">
        <label for="bookType" class="form-label">Book Type</label>
        <input type="text" class="form-control" id="bookType" placeholder="Enter book type">
      </div>
      <div class="mb-3">
        <label for="bookAuthor" class="form-label">Author</label>
        <input type="text" class="form-control" id="bookAuthor" placeholder="Enter author name">
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="bookLocked">
        <label class="form-check-label" for="bookLocked">Locked</label>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-light ms-2" routerLink="/books"><i class="bi bi-arrow-left"></i>Back</a>
      </div>
    </form>
  </div>
